:root {
  --control-count: 7;
  --result-count: 5;
  --tile-bg-color: #fff;
  --tile-text-color: #000;
  --tile-br-color: #d3d6da;
  --control-bg-color: #787c7e;
  --control-text-color: #fff;
  --tile-bg-green: #6aaa64;
  --btn-width: 2em;
  --body-width: 100%;
  --font-size: 1.2em;
  --btn-width: 2em;
  --btn-height: 2.5em;
  --res-height: 19em;
}

#header {
  height: 2em;
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Bevan;
  border-bottom: 1px solid var(--tile-br-color);
  margin-bottom: 1em;
}

.popup {
  background: var(--tile-bg-color);
  margin: 0 auto;
  width: 75%;
  position: sticky;
  z-index: 41;
  top: 1%;
  padding: 1em 2em;
  -webkit-box-shadow: 0 0 0.5em rgb(0 0 0 / 40%);
  -moz-box-shadow: 0 0 .5em rgba(0,0,0,0.4);
  box-shadow: 0 0 0.5em rgb(0 0 0 / 40%);
  visibility: visible;
  display: block;
}
.popdown {
  visibility: hidden;
  display: none;
}
#keyboard {
  width: 100%;
  margin-bottom: 1em;
  text-align: center;
  padding: 1em 0;
}

buttons {
  width: 100%;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
}

button {
  margin-bottom: 0.3em;
  margin-right: 0.2em;
  height: var(--btn-height);
  width: var(--btn-width);
}

.inputs {
  display: flex;
  /* grid-template-columns: repeat(var(--control-count), 1fr); */
  grid-gap: 5px;
  padding: 5px;
  margin-right: auto;
  justify-content: center;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.letter {
  width: var(--btn-width);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size);
  line-height: var(--btn-height);
  min-height: var(--btn-height);
  font-weight: bold;
  
  box-sizing: border-box;
  color: var(--tile-text-color);
  background-color: var(--tile-bg-color);
  text-transform: uppercase;
  user-select: none;
  border: 2px solid var(--tile-br-color);
}

.none {
  background-color: var(--control-bg-color);
}

.green {
  color: var(--control-text-color);
  background-color: var(--tile-bg-green);
}

.control {
  width: var(--btn-height);
  height: var(--webkit-fill-available);
  display: inline-flex;
  font-weight: 700;
  font-size: var(--font-size);
  box-sizing: border-box;
  color: var(--tile-text-color);
  background-color: var(--tile-bg-color);
  text-transform: uppercase;
  user-select: none;
  justify-self: flex-end;
  align-self: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}

#result {
  min-height: 10em;
  max-height: 40em;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
#result::-webkit-scrollbar { 
  height: 0;
  width: 0;  
}

.results {
  display: flex;
  grid-template-columns: repeat(var(--result-count), 1fr);
  grid-gap: 5px;
  padding: 5px;
  margin-right: auto;
  justify-content: center;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  min-height: var(--btn-height);
 
}

body {
  width: var(--body-width);
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  min-height: -webkit-fill-available;
}

html {
  min-height: -webkit-fill-available;
}

@media screen and (min-height: 600px) {
  :root {
    --res-height: 19em;
  }
} 
@media screen and (max-height: 600px) {
    :root {
      --body-width: 100%;
      --res-height: 9em;
    }  
} 
@media screen and (min-width: 1200px) and (max-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  :root {
    --btn-width: 3em;
    --btn-height: 3.5em;
    --font-size: 1.2em;
    --res-height: 21em;
    --body-width: 768px;
  }
}
/* Allow tiles to be smaller on small screens */

@media screen and (max-height: 400px) and (orientation: portrait){
  .letter {
    line-height: 1em;
  }
  :root {
    --btn-width: 2em;
    --btn-height: 2.5em;
    --font-size: 1em;
    --res-height: 9em; 
    --body-width: 100%;
  }
  button {
    margin-bottom: 0.3em;
    margin-right: 0.2em;
    height: var(--btn-height);
    width: var(--btn-width);
  }
  
}

/* @media screen and (orientation: landscape){
  .letter {
    line-height: 1em;
  }
  :root {
    --btn-width: 2.5em;
    --btn-height: 3em;
    --font-size: 1em;
    --res-lpad: 4em;
    --res-height: 9em; 
    --body-width: 100%;
  } 
}*/
